# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
Lib/
Scripts/

# Environment variables
.env

# Database files
*.db
*.sqlite3

# Operating System files
.DS_Store
Thumbs.db